.game-container2 {
  background: url("../assets/FrameL.png") no-repeat center center;
  background-size: 70%;

  width: 90vw;
  max-width: 1920px;
  height: 90vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);

  /* Set a higher z-index to bring it to the front */
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.score-timer-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(180deg, #ffffff18 0%, #ff9f1a 100%);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  margin-right: 15px; /* Space between timer and score */
  min-width: 140px;
  text-align: center;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 11.064px 20.426px 30.298px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  border-radius: 30px;
  background: linear-gradient(180deg, #ffffff18 0%, #fdc519 100%);
  min-width: 140px;
  text-align: center;
}

.game-area {
  width: 684.255px;
  height: 590.638px;
  border-radius: 55.319px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 11.064px 20.426px 30.298px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(28.936px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.num-btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background: yellow;
  border: 2px solid #ffa500;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.num-btn:hover {
  background: #ffa500;
  color: white;
}

.sidebar {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-btn,
.reset-btn {
  width: 50px;
  height: 50px;
  background: orange;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.home-btn:hover,
.reset-btn:hover {
  background: red;
}
