/* Facebook login button styling */
.facebook-login-button {
  background: url("../assets/facebook.png") no-repeat center center; /* Set the background image */
  background-size: 60%; /* Adjust the size of the image inside the button */
  border: none;
  padding: 10px 10px; /* Increase padding for a larger button */
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Set a fixed width for the button */
  height: 70px; /* Set a fixed height for the button */
  position: absolute;
  right: 790px; /* Position the button */
  margin-top: 550px; /* Add spacing between buttons */
}

.facebook-login-button:hover {
  background-size: 55%; /* Slightly increase the size on hover */
  transform: scale(1.05);
}

/* Twitter login button styling */
.twitter-login-button {
  background: url("../assets/twitter.png") no-repeat center center; /* Set the background image */
  background-size: 60%; /* Adjust the size of the image inside the button */
  border: none;
  padding: 10px 10px; /* Increase padding for a larger button */
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px; /* Set a fixed width for the button */
  height: 126px; /* Set a fixed height for the button */
  position: absolute;
  left: 760px; /* Position the button */
  margin-top: 550px; /* Add spacing between buttons */
}

.twitter-login-button:hover {
  background-size: 55%; /* Slightly increase the size on hover */
  transform: scale(1.05);
}
-------------------------------------------- .instructions-bbox {
  width: 500px; /* Scales dynamically */
  max-width: 1000px;
  height: 500px; /* Reduced height slightly for balance */
  max-height: 1000px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%; /* Centered vertically */
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, -50%); /* Ensures perfect centering */
  padding: 20px; /* Added padding for better spacing */
  text-align: center; /* Ensure text is centered inside */
}

.instructions-bbox h2 {
  color: #0a2c51;
  font-family: "Lilita One";
  font-size: 70px; /* Reduced from 50px */
  font-weight: 400;
  line-height: 1.2; /* Improved readability */
  letter-spacing: -0.8px;
  margin-bottom: 10px; /* Ensures spacing from the paragraph */
}

.instructions-bbox p {
  width: 90%; /* Scales with container */
  max-width: 350px;
  height: auto; /* Allowing text to wrap naturally */
  flex-shrink: 0;
  color: rgba(10, 44, 81, 0.88);
  text-align: center;
  font-family: "Lilita One";
  font-size: 30px; /* Reduced from 39.75px */
  font-weight: 400;
  line-height: 1.3; /* Adjusted for better readability */
  letter-spacing: -0.5px;
  padding: 10px; /* Added padding for better spacing */
}

.play-button {
  width: 250px !important; /* Ensures the size applies */
  height: 110px !important;
  min-width: 250px;
  min-height: 110px;
  background: url("../assets/Start btn.png") no-repeat center center;
  background-size: 70% 70%; /* Ensures image covers full button */
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px; /* Adds spacing between the button and the text */
}

.play-button:hover {
  transform: scale(1.08);
}

.play-button:active {
  transform: scale(0.95);
}

.settings-button {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.settings-button {
  background: url("../assets/Srttings.png") no-repeat center center;
  padding: 11px 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 30px;
  left: 220px;
}
.settings-button:hover {
  transform: scale(1.1);
}

.leaderboard-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  background: url("../assets/Leader btn.png") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.leaderboard-button:hover {
  transform: scale(1.08);
}

.leaderboard-button:active {
  transform: scale(0.95);
}

.bottom-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

/* Mute button styling */
.mute-buttton {
  padding: 20px; /* Increased padding for better spacing */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: contain;

  position: absolute;
  bottom: 1px; /* Same as settings-button */
  left: 265px; /* Same as settings-button */
}

/* Optional: You can also adjust the hover effect for larger buttons */
.mute-buttton:hover {
  transform: scale(1.1);
}
/* Hidden checkbox */
.mute-toggle {
  display: none; /* Hide checkbox */
}

/* Default (Sound On) state */
.mute-buttton .mute-icon {
  background-image: url("../assets/Sound On.png");
  background-size: contain;
  width: 60px;
  height: 60px;
  display: block;
}

/* When checkbox is checked (Sound Off) */
.mute-toggle:checked + .mute-icon {
  background-image: url("../assets/Sound Off.png");
}

/* Hover effect for the button */
.mute-buttton:hover {
  transform: scale(1.1);
}

/* Optional: Hover effect on the icon */
.mute-icon:hover {
  transform: scale(1.1);
}

.volume-slider {
  width: 100px;
  margin-left: 10px;
  position: absolute;
  bottom: 40px; /* Same as settings-button */
  left: 350px;

}

/* ==============SignIn Page =======================================================*/

.Container2 {
  background: url("../assets/Frame 23rr.png") no-repeat center center;
}
.login-form {
  width: 60%;
  max-width: 400px;
  height: 60vh;
  max-height: 320px;
  border-radius: 55px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
}

.login-form input {
  font-family: "Lilita One";
  width: 540px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 29.787px;
  border: 3.404px solid rgba(0, 0, 0, 0.6);
  background: rgba(217, 217, 217, 0.36);
  color: rgba(10, 44, 81, 0.36);
  font-family: "Lilita One";
  font-size: 32.354px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.remember-me {
  color: #0a2c51;
  font-family: "Lilita One";
  font-size: 26.847px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.537px;
}

.remember-me input {
  width: 26.836px;
  height: 26.836px;
  flex-shrink: 0;
  border-radius: 6.356px;
  background: #fff;
  box-shadow: 0.706px 2.119px 4.661px 0px rgba(0, 0, 0, 0.34);
}


.loginn-button {
  background: url("../assets/Sign In.png") no-repeat center center; /* Set the background image */
  background-size: 50%; /* Adjust the size of the image inside the button */
  border: none;
  padding: 20px 40px; /* Increase padding for a larger button */
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px; /* Set a fixed width for the button */
  height: 80px; /* Set a fixed height for the button */
}

.loginn-button:hover {
 
  transform: scale(1.05);
}






/* ==============SignUp Page ------------------------------------------------------ */

.Container2 {
  background: url("../assets/Frame 11.png") no-repeat center center;
}

.signup-form {
  width: 60%;
  max-width: 600px;
  height: 60vh;
  max-height: 420px;
  border-radius: 55px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
}

.signup-form input {
  width: 540px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 29.787px;
  border: 3.404px solid rgba(0, 0, 0, 0.6);
  background: rgba(217, 217, 217, 0.36);
  color: rgba(10, 44, 81, 0.36);
  font-family: "Lilita One";
  font-size: 32.354px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  padding-left: 20px;
  margin-bottom: 20px;
}


.signuup-button {
  background: url("../assets/SignUp.png") no-repeat center center;
  background-size: 50%; /* Adjust the size of the image inside the button */
  border: none;
  padding: 20px 40px; /* Increase padding for a larger button */
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px; /* Set a fixed width for the button */
  height: 80px; /* Set a fixed height for the button */
}

.signuup-button:hover {

  transform: scale(1.05);
}

/* ==============Setting Page =======================================================*/

.Container2 {
  background: url("../assets/Frame 23rr.png") no-repeat center center;
}

.settings-content {
  width: 60%;
  max-width: 600px;
  height: 60vh;
  max-height: 420px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.settings-title {
  color: #0a2c51;
  font-family: "Lilita One";
  font-size: 54.356px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.087px;
}

.difficulty-title {
  color: #0a2c51;
  font-family: "Lilita One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: -1.087px;
  margin-top: -10px;
}

.brightness-section h2 {
  color: #0a2c51;
  font-family: "Lilita One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -1.087px;
  margin-top: -10px;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.difficulty-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  text-align: center;
  line-height: 1.2;
}

.difficulty-button:hover {
  transform: translateY(-2px);
}

.easy {
  background-image: url("../assets/EazyBtn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.medium {
  background-image: url("../assets/MediumBtn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hard {
  background-image: url("../assets/HardBtn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.brightness-section .slider-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brightness-slider {
  width: 420px;
  -webkit-appearance: none;
  height: 20px;
  background: linear-gradient(to right, #3e2f1c, #f08603, #f08603);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  border: 5px solid #00ff405e;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.brightness-slider::-webkit-slider-thumb:hover,
.brightness-slider::-webkit-slider-thumb:focus {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.675);
  transform: scale(1.2);
}

.brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 18px;
  background: #ffd166;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.brightness-slider::-webkit-slider-thumb:hover,
.brightness-slider::-webkit-slider-thumb:focus {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.brightness-section p {
  font-size: 20px;
  margin-top: 5px;
  color: #555;
}

/* ==============LeaderBoard  Page =======================================================*/

/* Leaderboard Container */
.leaderboard-container2 {
  background: url("../assets/FrameL.png") no-repeat center center;
  background-size: 70%;

  width: 90vw;
  max-width: 1920px;
  height: 90vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);

  /* Set a higher z-index to bring it to the front */
}

/* Leaderboard Box */
.leaderboard-box {
  width: 900px;
  height: 450px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1); /* Light background for the box */
  box-shadow: 11.064px 20.426px 30.298px 0px rgba(0, 0, 0, 0.25); /* Adding box shadow for depth */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 50px;
  margin-bottom: 80px;
}

/* Leaderboard Title */
.leaderboard-title {
  color: #0a2c51;
  font-family: "Lilita One";
  font-size: 54px;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
}

/* Leaderboard Rows (for individual player cards) */
.leaderboard-rows {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  width: 850px;
}

/* Each Row (for a player) */
.leaderboard-row {
  display: flex;
  justify-content: space-between; /* Space out the columns */
  align-items: center;
  background: rgba(0, 0, 0, 0.214); /* Light background for rows */
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.51);
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for rows */
.leaderboard-row:hover {
  background: rgba(217, 217, 217, 0.36); /* Darker on hover */
}

/* Rank Column */
.rank-column {
  width: 30px;
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  color: #003049;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #ffa500;
  border-radius: 30px;
}

/* Name Column */
.name-column {
  width: 50%;
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  color: #003049;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Score Column */
.score-column {
  width: 20%;
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  color: #003049;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #ffa500;
  border-radius: 30px;
}

/* ==============SignInUp Page =======================================================*/

.Container2 {
  background: url("../assets/Frame 11.png") no-repeat center center;
}

.signin-box {
  width: 60%;
  max-width: 400px;
  height: 60vh;
  max-height: 320px;
  border-radius: 55px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
}
/* Buttons */
.signin-button,
.signup-button,
.guest-button {
  width: 220px; /* Ensures the size applies */
  height: 90px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px;
  border-radius: 40px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.signin-button {
  background-image: url("../assets/Sign In.png"); /* Replace with actual image path */
}

.signup-button {
  background-image: url("../assets/SignUp.png"); /* Replace with actual image path */
}

.guest-button {
  background-image: url("../assets/Guest btn.png"); /* Replace with actual image path */
}

/* Hover effect */
.signin-button:hover,
.signup-button:hover,
.guest-button:hover {
  transform: scale(1.05);
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.601);
}
